---
# Secrets File (Example)

# The hashed user password. This can be generated using
# 'mkpasswd --method=sha-512'
user_password: ""

# API Keys, used in the Python scripts in ~/.config/argos
# that are displayed in the status bar
secrets_file_contents:
  weather_location: "City,State"
  coinmarketcap_apikey: ""
